body, li { 
	color: #222; 
  font-family: "Avenir", "-apple-system", "BlinkMacSystemFont", "Roboto", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; 
	font-size: 14px; 
	line-height: 25px; 
  font-weight: 300;
	margin: 0; 
}
h1, h2, h3, h4, header, .subheadline, blockquote {
}
h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
a { 
	text-decoration: none; 
	color: #4d4d4d;
	border-bottom: 1px dotted #bbb;
}
a:hover, .post h1 a:hover {
	color: #57ad68; 
}

/* CLASSES */

.no-underline { border-bottom: none; }
.round { border-radius: 3px; }
.link-arrow { color: #ccc; }
.demphasis { color: #999; }
.content { 
	margin: 0 auto;
	width: 618px; 
}

/* HEADER */

#header {
	padding: 40px 0;
}
#header #picture-me {
	border: none;
	float: left;
	margin-right: 10px;
}
#header #picture-me:hover {
	border: none;
}
#header p {
  margin: 0;
}
#header h2 {
  line-height: 20px;
  margin: 0;
}

/* NAVIGATION */
#navigation {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  overflow: hidden;
}
#navigation ul {
  padding: 0;
}
#navigation li {
  list-style-type: none;
  display: inline;
  float: left;
  margin: 0;
  padding: 12px 20px 13px 0;
}

/* POSTS */

.posts {
	list-style-type: none;
	-webkit-padding-start: 0;
	margin: 0;
}
  .posts h2 {
    margin: 0 0 5px;   
  }
    .posts h2 a {
      border-bottom: 0;
    }
  .posts :first-child {
  	border-top: 0 !important;
  }
  .posts .post-listing {
  	padding: 30px 0 0;
    margin: 0;
  	border-top: 1px solid #eee;
  	border-bottom: 0;
  }
  .posts .date {
    float: right;
    
  }


.post { 
	margin-bottom: 54px; 
	padding: 54px 0 66px; 
	position: relative; 
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee; 
}
.post p { 
	margin: 0 0 30px; 
}
.post h4 { font-size: 1em; margin-bottom: 1.125em; line-height: 1.75em; }
.post ol, .post ul {
	margin: -6px 0 30px;
}
.post li { margin-bottom: 12px; }
.post .link-arrow { font-size: 1em; margin-left: 0.375em; }
.post blockquote.center {
	width: 780px;
	font-style: italic;
	text-align: center;
	margin: 36px -106px 42px;
	font-size: 30px;
	line-height: 42px;
}
.post blockquote.left { 
	border-left: 6px solid #57ad68; 
	margin-left: -24px;
	padding-left: 18px; 
	width: 570px;
	font-style: italic;
}
.post blockquote .small { 
	margin-top: -12px;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: .15em; 
	text-transform:uppercase; 
	font-style: normal;
}
.post blockquote.alone p { 
	line-height: 1.75em; 
	font-weight: 300; 
}
.post .post-date {
	margin-bottom: 6px;
}
#pagination { padding-bottom: 5.625em; }
#newer_link { float: right; }

.post .subheadline { 
	font-size: 24px; 
	line-height: 30px; 
	margin-top: -18px; 
	color: #999;
	font-style: italic; 
}
.post .fb-like {
	top: 5px;
}
.post #facebook-comments {
	margin-top: 36px;
}

