---
---

body, li  
  color: #222
  background-color: #FCFCFC
  font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 18px 
  line-height: 30px 
  margin: 0 

h1, h2 
  font-family: Avenir, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-weight: 900

h1 
  font-size: 32px
  line-height: 45px

h2
  font-size: 18px
  line-height: 30px 
  margin: 30px 0 20px

a  
  color: #222
  text-decoration: none
  border-bottom: 1px solid #2F80ED

p
  margin: 0 0 30px

/* CLASSES */

.no-underline  
  border-bottom: none 
.link-arrow  
  color: #ccc 
.demphasis  
  color: #999 
.content  
  margin: 0 auto
  width: 610px 
.meta-data
  margin-top: 30px

/* HEADER */

#header 
  padding: 30px 0
  margin-bottom: 60px

#header #picture-me 
  float: left
  margin-right: 10px
  border: none
  img 
    border-radius: 25px

#header #picture-me:hover 
  border: none

#header p 
  margin: 0

#header h2 
  line-height: 20px
  margin: 0

header 

  ul 
    display: inline
    padding: 0
    margin: 0

  li 
    list-style-type: none
    display: inline
    float: left
    margin: 0
    padding: 0 15px 0 0  

    a
      border-bottom: 1px solid #2F80ED


/* POSTS */

.posts 
  font-size: 16px
  line-height: 25px
  list-style-type: none
  -webkit-padding-start: 0
  margin: 0 0 60px

  h2 
    margin: 0 0 5px   

  h2 a 
    border-bottom: 0
    text-decoration: none

  .post-listing 
    padding: 30px 0 0
    margin: 0
    border-bottom: 1px solid #eee

  .date 
    float: right

.post  
  margin-bottom: 120px 

  h1
    a
      border-bottom: none

  ol, ul 
    margin: 0 0 30px

  li 
    margin-bottom: 15px 

  img
    width: 100%

  img.center
    width: 780px
    position: relative
    right: 81px

  a.image-link 
    text-decoration: none
    border-bottom: none

  blockquote
    border-left: 6px solid #999 
    margin-left: 0 
    padding-left: 18px 
    width: 570px
    font-style: italic
    margin-bottom: 30px

  .post-date 
    margin-bottom: 6px

  .subheadline  
    font-size: 24px 
    line-height: 30px 
    margin-top: -20px 
    color: #999
    font-style: italic 


