body, li { 
	color: #4D4D4D; 
	font-family: ff-tisa-web-pro, Georgia, Serif; 
	font-size: 16px; 
	line-height: 24px; 
	margin: 0; 
}
a { 
	color: #df4747; 
	text-decoration: none; 
}
a:hover {
	border-bottom: 1px solid #e56c6c;
}
a:hover, 
.post h1 a:hover { 
	color: #df4747; 
}
.no-underline { border-bottom: none; }
.round { border-radius: 3px; }
.link-arrow { color: #ccc; }
.demphasis { color: #999; }

#side-bar {
	font-size: 13px;
	line-height: 18px;
	width: 180px;
	position: relative;
	float: left;
	margin-left: -240px;
}

#side-bar #avatar {
	-webkit-border-radius: 100%;
	border-radius: 100%;
	height: 100%;
	width: 100%;
}

#side-bar #name {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin: 12px 0 0;
}

#side-bar #name a:hover {
	border: none;
}


#side-bar #description {
	margin-top: 0;
	color: #999;
}

#body-content { 
	margin: 54px auto;
	width: 540px; 
}

.post { 
	margin-bottom: 54px; 
	padding-bottom: 36px; 
	position: relative; 
	border-bottom: 1px solid #eee; 
}
.post p { 
	margin: 0 0 24px; 
}
.post h1 { 
	font-size: 36px; 
	line-height: 48px; 
	margin: 0 0 24px;
}
.post h1 a { 
	color: #444; 
	text-decoration: none; 
	border-bottom: none;
}
.post h1 .link-arrow { 
	margin-left: 12px; 
	position: relative; 
	top: 3px; 
}
.post h1 a:hover + .link-arrow, 
.post p:hover .link-arrow { 
	color: #df4747; 
}
.post h4 { font-size: 1em; margin-bottom: 1.125em; line-height: 1.75em; }
.post li { margin-bottom: 1em; }
.post .link-arrow { font-size: 1em; margin-left: 0.375em; }
.post blockquote { 
	border-left: .375em solid #EEE; 
	margin: 0 0 12px; 
	padding-left: 18px; 
}
.post blockquote small { margin-top: 0; letter-spacing: .15em; text-transform:uppercase; font-family: Georgia, Times New Roman, Serif; }
	.post blockquote.alone p { line-height: 1.75em; font-weight: 300; }
.post .post-date, .post .post-date a { color: #999; }
.post .post-date a:hover { color: #2AA7FA; }

#pagination { padding-bottom: 5.625em; }
#newer_link { float: right; }
a#back-blog { padding: 0.75em; background: #000; color: #fff; border-radius: 6px; display: block; width: 118px; }
a#back-blog:hover { background: #2AA7FA; }

#subscribe-list li { position: relative; }
#subscribe-list li #follow-button { position: absolute; top: 2px; margin-left: 6px; }

.post .subheadline { font-size: 22px; line-height: 32px; margin-top: -22px; font-style: italic; }

