body, li { font: 100%/1.5 "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif; color: #333 !important; }
#body-content { margin: 2.8em auto 5.6em; }

#header { border-bottom: 1px dotted #ccc; margin-bottom: 3em; padding-bottom: .75em; }
#header h1 { font-size: 16px; margin-bottom: 0; line-height: 1.5em; }
#header h1 a { color: black; }
#header p#description { color: #ccc; }

.post { margin-bottom: 3em; padding-bottom: 1.5em; border-bottom: 1px dotted #ccc; }
.post p { line-height: 1.5em; font-size: 13px; margin-bottom: 1.5em; }
.post h1 { font-size: 16px; margin-bottom: 0; line-height: 1.5em; }
.post h1 small { font-weight: 300; }
.post h1 a { color: black; }
.post h4 { font-size: 1em; margin-bottom: 1.4em; line-height: 1.4em; }
.post li { margin-bottom: 1.4em; }
.post blockquote { border-left: .7em solid #EEE; margin-bottom: 1.4em; padding-left: 1.4em; }
.post blockquote p { font-weight: normal; margin-bottom: .7em; }
.post blockquote small { margin-top: 0; letter-spacing: .15em; text-transform:uppercase; font-size: .7em; font-family: Georgia, Times New Roman, Serif; }
	.post blockquote.alone p { font-size: 16px; line-height: 1.4em; font-weight: 300; }
.post .post-meta { color: #ccc; line-height: 1.4em; margin-bottom: 1.4em; display: block; text-transform:capitalize; }

#newer_link { float: right; }

#footer { background: black; color: #fff; padding: .7em 1.4em .7em 0; text-align: right; }
#footer a { color: #BFBFBF; text-decoration: underline; }
