---
layout: default
title: "Blog"
---

<div id="header">
	<a id="picture" href="/"><img src="https://s3.amazonaws.com/hsukenooi/me.png"/></a>
	<span id="name">Hsu Ken Ooi<br><span style="color: #999">Co-Founder of Decide.com</span></span>
</div>

<div id="posts">
	{% for post in paginator.posts %}
		<div class="post">
			<div class="timeline">
				<a href="{{post.url}}" class="no-underline">{{ post.date | date: "%b %d, %Y" }}</a>
			</div>
			{{ post.content }}
		</div>
	{% endfor %}
</div>

<div id="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a id="newer_link" href="/">Newer &rarr;</a>
    {% else %}
      <a id="newer_link" href="/page{{ paginator.previous_page }}">Newer &rarr;</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a id="older_link" href="/page{{ paginator.next_page }}/">&larr; Older</a>
  {% endif %}
</div>
