---
layout: default
title: Writing
---

<div id="posts">
{% for post in site.posts limit:5 %}
  <div class="post">
		{{ post.content }}
    <span class="meta demph">&mdash; <a href="{{ post.url }}">{{ post.date | date: "%b %d, %Y" }}</a></span>
  </div>
{% endfor %}
</div>

<div id="footer">
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/">&larr; Older</a>
  {% endif %}
  {% include search.html %}
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/">Newer &rarr;</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">Newer &rarr;</a>
    {% endif %}
  {% endif %}
</div>

