<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Hsu Ken Ooi &mdash; Writes Here</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<link href="/css/screen.css" media="screen" rel="Stylesheet" type="text/css" />
</head>
<body>
	<div id="wrap">
		<div id="header">
			<a href="/"><img id="profile_image" src="https://s3.amazonaws.com/hsukenooi/profile.jpg"></a>
			<h1>Hello, I'm <a href="/about">Hsu Ken Ooi</a>.</h1>
			<span id="short-bio" class="demph">I work at <a href="http://twitter.com/decide"><b>Decide</b></a>, live in <b style="color: #333;">Seattle</b> and use <a href="http://twitter.com/hsukenooi"><b>Twitter</b></a>.</span>
		</div>
		{{ content }}
	</div>
</body>
</html>
