<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Hsu Ken Ooi &mdash; Writes Here</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<link href="../css/screen.css" media="screen" rel="Stylesheet" type="text/css" />
</head>
<body>
	<div id="wrap">
		<div id="header">
			<a href="http://hsukenooi.com"><img id="profile_image" src="https://s3.amazonaws.com/hsukenooi/profile.jpg"></a>
			<h1>Hsu Ken Ooi <span class="demph">writes & posts <a href="http://hsukenooi.com">here</a>.</span></h1>
			<span id="short-bio" class="demph">Work at <a href="http://twitter.com/decide"><b>Decide</b></a>, lives in <b style="color: #333;">Seattle</b>, on <a href="http://twitter.com/hsukenooi"><b>Twitter</b>.</span>
		</div>
		<!--
		<div id="posts">
			<div class="post"> 
				<div class="quote no_after">
					<div class="quote_symbol">&#8220;</div>
					<p>For what it's worth, it's never too late or, in my case, too early to be whoever you want to be. There's no time limit, stop whenever you want. You can change or stay the same, there are no rules to this thing. We can make the best or the worst of it. I hope you make the best of it. And I hope you see things that startle you. I hope you feel things you never felt before. I hope you meet people with a different point of view. I hope you live a life you're proud of. If you find that you're not, I hope you have the strength to start all over again.</p>
					<p class="source">&mdash; BENJAMIN BUTTON</p>
				</div>
			</div>
		</div>
		-->
		{{ content }}
	</div>
</body>
</html>
